* {
    font-family: "JetBrainsMono Nerd Font";
    font-size: 16px;
    background-color: transparent;
}

#clock {
    color: #ffffff;
    background-color: #161616;
    border-radius: 30px;
    border-color: #d814ff;
    border: 2px;
    padding-right: 10px;
    padding-left: 10px;
    font-weight: bold;
}

#battery {
    color: #f9e2af;
}

#pulseaudio {
    color: red
}

#workspaces {
    margin-top: 10px;
    color: #ffffff;
}

#workspaces button.active {
    color: #ffffff;
    background-color: #cc21cc;
    border: 2px solid #17f5f5;
}

#workspaces button {
    color: #000000;
    margin-right: 10px;
    background-color: #fffb2b;
}